TF-IDF Matriks

In [ ]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction import text
from sklearn.metrics.pairwise import linear_kernel

In [ ]:
data = pd.read_csv("top2k.csv")
print(data.head())

   Unnamed: 0  id  book_id  best_book_id  work_id  books_count       isbn  \
0           0   1  2767052       2767052  2792775          272  439023483
1           1   2        3             3  4640799          491  439554934
2           2   3    41865         41865  3212258          226  316015849
3           3   4     2657          2657  3275794          487   61120081
4           4   5     4671          4671   245494         1356  743273567

         isbn13                      authors  original_publication_year  ...  \
0  9.780439e+12              Suzanne Collins                     2008.0  ...
1  9.780440e+12  J.K. Rowling, Mary GrandPr√©                     1997.0  ...
2  9.780316e+12              Stephenie Meyer                     2005.0  ...
3  9.780061e+12                   Harper Lee                     1960.0  ...
4  9.780743e+12          F. Scott Fitzgerald                     1925.0  ...

  ratings_1 ratings_2 ratings_3  ratings_4  ratings_5  \
0     66715    127936    560092    1481305    2706317
1     75504    101676    455024    1156318    3011543
2    456191    436802    793319     875073    1355439
3     60427    117415    446835    1001952    1714267
4     86236    197621    606158     936012     947718

                                           image_url  \
0  https://images.gr-assets.com/books/1447303603m...
1  https://images.gr-assets.com/books/1474154022m...
2  https://images.gr-assets.com/books/1361039443m...
3  https://images.gr-assets.com/books/1361975680m...
4  https://images.gr-assets.com/books/1490528560m...

                                     small_image_url  goodreads_book_id  \
0  https://images.gr-assets.com/books/1447303603s...            2767052
1  https://images.gr-assets.com/books/1474154022s...                  3
2  https://images.gr-assets.com/books/1361039443s...              41865
3  https://images.gr-assets.com/books/1361975680s...               2657
4  https://images.gr-assets.com/books/1490528560s...               4671

                                            tag_name  \
0                                                 []
1  ['books', 'bbc', 'books', 'every', 'man', 'sho...
2                                                 []
3  ['mercenaries', 'mercenary', 'mercer', 'mayer'...
4                                                 []

                                         description
0  WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...
1  Harry Potter's life is miserable. His parents ...
2  About three things I was absolutely positive.F...
3  The unforgettable novel of a childhood in a sl...
4  Alternate Cover Edition ISBN: 0743273567 (ISBN...

[5 rows x 27 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 2000 non-null   int64
 1   id                         2000 non-null   int64
 2   book_id                    2000 non-null   int64
 3   best_book_id               2000 non-null   int64
 4   work_id                    2000 non-null   int64
 5   books_count                2000 non-null   int64
 6   isbn                       1923 non-null   object
 7   isbn13                     1931 non-null   float64
 8   authors                    2000 non-null   object
 9   original_publication_year  1998 non-null   float64
 10  original_title             1958 non-null   object
 11  title                      2000 non-null   object
 12  language_code              1918 non-null   object
 13  average_rating             2000 non-null   float64
 14  ratings_count              2000 non-null   int64
 15  work_ratings_count         2000 non-null   int64
 16  work_text_reviews_count    2000 non-null   int64
 17  ratings_1                  2000 non-null   int64
 18  ratings_2                  2000 non-null   int64
 19  ratings_3                  2000 non-null   int64
 20  ratings_4                  2000 non-null   int64
 21  ratings_5                  2000 non-null   int64
 22  image_url                  2000 non-null   object
 23  small_image_url            2000 non-null   object
 24  goodreads_book_id          2000 non-null   int64
 25  tag_name                   2000 non-null   object
 26  description                1986 non-null   object
dtypes: float64(3), int64(15), object(9)
memory usage: 422.0+ KB

In [ ]:
data = data[["title", "description", "ratings_count"]]
print(data.head())

                                               title  \
0            The Hunger Games (The Hunger Games, #1)
1  Harry Potter and the Sorcerer's Stone (Harry P...
2                            Twilight (Twilight, #1)
3                              To Kill a Mockingbird
4                                   The Great Gatsby

                                         description  ratings_count
0  WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...        4780653
1  Harry Potter's life is miserable. His parents ...        4602479
2  About three things I was absolutely positive.F...        3866839
3  The unforgettable novel of a childhood in a sl...        3198671
4  Alternate Cover Edition ISBN: 0743273567 (ISBN...        2683664

In [ ]:
print(data.isnull().sum())

title             0
description      14
ratings_count     0
dtype: int64

In [ ]:
data = data.dropna()

In [ ]:
feature = data["description"].tolist()
tfidf = text.TfidfVectorizer(input=feature, stop_words="english")
tfidf_matrix = tfidf.fit_transform(feature)
similarity = linear_kernel(tfidf_matrix, tfidf_matrix)

In [ ]:
indices = pd.Series(data.index, 
                    index=data['title']).drop_duplicates()

In [ ]:
def book_recommendation(title, similarity = similarity):
    index = indices[title]
    similarity_scores = list(enumerate(similarity[index]))
    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)
    similarity_scores = similarity_scores[0:5]
    bookindices = [i[0] for i in similarity_scores]
    return data['title'].iloc[bookindices]

print(book_recommendation("The Help"))

31            Of Mice and Men
1707    The Sky Is Everywhere
224              East of Eden
130       The Grapes of Wrath
876     The Neverending Story
Name: title, dtype: object